
.wrap {
    min-height: 100%;
    height: auto;
   
}

.view
{

    

    
}



#w0
{
	background-color: #fff;
}
#w0-collapse
{
	padding: 20px;
}

/*======footer*/

#footer {
    padding: 20px 0px;
    text-align: center;
    font-size: 12px;
}

.view-bg {
    position: relative;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    /* background: #262729; */
}
