.wrap > .container {
    padding: 90px 0px 0;
}
#w0
{
	background-color: #fff;
}
#w0-collapse
{
	padding: 20px;
}

/*======footer*/

#footer {
    padding: 20px 0px;
    
    text-align: center;
    font-style: 12px;
}
