


.header{
	background:#fff;
	height:80px;
	width:100%;
}


a.logo{
	float:left;
	margin-top:16px;
}

div.menu{
	width:1200px;
	margin:0 auto;
}

.menu_mobile{
	display:none;
}

.blockeasing-warpp{
		display:block;
}
ul.blockeasing{
	list-style-type:none;
	
	padding:0px;
	margin:0px;
}

.login
{
	float: right;
	margin-top:26px;
}
ul.blockeasing li{
	float:left;
	text-align:center;
	position:relative;
}

ul.blockeasing li.current{
	

}

ul.blockeasing li.current a{
	color:#008cee;

}
ul.blockeasing li a{
	
	font-size:16px;
	color:#191919;
	padding:31px 20px 31px;
	display:block;
	position:relative;


}

ul.blockeasing li a:hover {
	
	color:#008cee;
}
ul.blockeasing li .menu_hover{
	width:100%;
	height:100%;
	position:absolute;
	top:0px;
	left:0px;
	z-index:0;
	display:none;
}


#statistics{
	width:100%;
	height:500px;
	cursor:pointer;
	position:relative;

}

.shade{
	width:100%;
	height:100%;
	position:absolute;
	left:0px;
	top:0px;
	z-index:999;
	display:none;
}
.shade div{
	width:100%;
	height:100%;
	background:#000;
	opacity:0.7;
}
.shade a{
	position:absolute;
	left:50%;
	top:50%;
	margin-left:-70px;
	margin-top:-70px;
	color:#fff;
	background:#1F85AA;
	width:140px;
	height:140px;
	border:1px solid #1F85AA;
	border-radius:70px;
	line-height:140px;
	text-align:center;
	font-size:16px;
}

#statistics .shade a:hover{
	background:#228eb7;
}

.medium_content_list_box{
	width:100%;
	height:auto;
	min-height:300px;
	background:#1F85AA;
}
.medium_content_list{
	width:960px;
	margin:0 auto;
}
.medium_content_list li{
	display:inline-block;
	background:#fff;
	position:relative;
	border:1px solid #fff;
	border-radius:100px;
	text-align:center;
	line-height:200px;
	font-size:18px;
	margin-top:50px;
	width:200px;
	height:200px;
	margin-left:29px;
	border:1px solid #1F85AA;
	line-height:200px;
}
.medium_content_list li > a{
	font-size:16px;
	text-decoration:underline;
	color:#333;
}
.medium_content_list li .shade div{
	background:#1F85AA;
}

.medium_content_list li .shade a{
	margin-left:-100px;
	margin-top:-100px;
	color:#fff;
	background:#000;
	width:200px;
	height:200px;
	border:1px solid #000;
	border-radius:100px;
	font-size:16px;
	line-height:200px;
}

.medium_content_article_box{
	background:#fff;
	width:100%;
	min-height:400px;
}

.medium_content_article{
	width:100%;
}
.medium_content_article li{
	/*display:inline-block;*/
	float:left;
	width:21%;
	margin-left:3.1%;
}

.medium_content_article  a{
	display:inline-block;
	width:100%;
	height:100%;
}

.medium_content_article #share a{
	width:auto;
}

.medium_content_article  a:hover{
	background:#efefef;
}

.medium_content_article li img{
	display:block;
	width:100%;
}
.medium_content_article li dl{
	width:100%;
	position:relative;
	margin-top:5px;
}
.medium_content_article li dl dt{
	width:75px;
	position:absolute;
	left:0px;
	top:0px;
}
.medium_content_article li dl dt .date{
	width:73px;
	height:73px;
	margin:0 auto;
	background:url("../images/date.png") left top no-repeat;
	color:#fff;
	text-align:center;
	padding-top:10px;
	font-weight:300;
	font-family:Arial;
	font-size:19px;
}
.medium_content_article li dl dt .date p{
	color:#fff;
	border-top:2px solid #fff;
	width:50px;
	margin:0 auto;
	font-size:19px;
}

.medium_content_article li dl dt .day{
	width:49px;
	height:51px;
	margin:0 auto;
	background:url("../images/comments.png") left top no-repeat;
	color:#fff;
	text-align:center;
	line-height:48px;
	font-size:20px;
	font-weight:bold;
	font-family:Arial;
}
.medium_content_article li dl dd{
	padding-left:80px;
	font-size:12px;
	line-height:22px;
}
.medium_content_article li dl dd.article_list{
	min-height:108px;
	
}

.medium_content_article li dl dd h6{
	font-size:14px;
	text-align:center;
	line-height:30px;
	height:30px;
	overflow:hidden;
}

.line{
	border-bottom:2px dashed #ccc;
	height:20px;
	width:100%;
	clear:both;
	margin-top:20px;
	margin-bottom:25px;
}



.medium_size_center{
	width:960px;
	margin:0 auto;
}

#nav{
	width:100%;
	border-bottom:1px dashed #666;
	height:40px;
	line-height:40px;
	font-size:18px;
}

#nav .nav_content{
	width:960px;
	margin:0 auto;
	font-size:16px;
}
#nav .nav_content span{
	color:#1F85AA;
	font-size:16px;
}

#nav .nav_content a{
	color:#000;
}


#statistics_filter{
	width:100%;
	/*height:300px;*/
	background:#fff;
	/*margin-top:20px;*/
}

#statistics_filter .statistics_filters{
/*	width:100%;*/
	position:relative;
	background:#000;
	padding:15px;
	margin-top:5px;
}
#statistics_filter .statistics_filters_title{
	position:absolute;
	left:0px;
	top:15px;
	width:60px;
	text-align:center;
	color:#fff;
	height:30px;
	line-height:30px;
}
#statistics_filter .statistics_filters_content{
	padding-left:60px;
}

#statistics_filter .statistics_filters_content > ul{
	/*padding-top:10px;*/
}

#statistics_filter .statistics_filters_content > ul li{
	display:inline-block;
	height:30px;
	line-height:30px;
	margin-left:5px;
}

#statistics_filter .statistics_filters_content > ul li a{
	color:#fff;
	padding:0px 15px;
	display:block;
}
#statistics_filter .statistics_filters_content > ul li a:hover,
#statistics_filter .statistics_filters_content > ul li a.selected 
{
	background:#1F85AA;
	border-radius:10px;
}
#statistics_filter .statistics_filters_rows{
	padding-top:15px;
	color:#fff;
}
#statistics_filter .statistics_filters_select{
	position:relative;
	display:inline-block;
	width:60px;
	height:24px;
	line-height:24px;
    border-radius:2px;
	background:#fff url("../images/menu-arrow.png") no-repeat 55px 8px;
	padding:0 10px;
	margin-left:5px;
}
#statistics_filter .statistics_filters_select h6{
	color:#000;
	font-weight:normal;
	padding-right:22px;
	cursor:pointer;
}
#statistics_filter .statistics_filters_select ul{
	position:absolute;
	left:0px;
	top:24px;
	border:1px solid #ccc;
	border-top:none;
	display:none;
	z-index:900;
}
#statistics_filter .statistics_filters_select ul li{
	height:23px;
	line-height:23px;
	width:58px;
	padding:2px 10px;
	background:#fff;
	cursor:pointer;
	border-bottom:1px solid #ccc;

}
#statistics_filter .statistics_filters_select ul li:hover{
	background:#1F85AA;
	color:#fff;
}

#statistics_filter  .select_short{
	width:40px;
	background: url("../images/menu-arrow.png") no-repeat scroll 38px 8px #fff;
}

#statistics_filter  .select_short ul li{
	width:38px;
}

#statistics_filter  .statistics_filters_submit{
	display:inline-block;
	width:80px;
	height:30px;
	line-height:30px;
	background:#1F85AA;
	color:#fff;
	text-align:center;
	border-radius:10px;
	/*
	border-right:1px solid #333;
	border-bottom:1px solid #333;*/
	text-shadow:2px 2px 2px #333;
	margin-left:70px;
}
/*
#statistics_filter .statistics_filters_none{
	background:#fff;
}*/
#statistics_filter .delimiter{
	color:#fff;
}

div.statistics_delimiter{
	margin-top:60px;
}

.statistics_title{
	font-weight:bold;
}

#statistics_detail{
	height:500px;
}
#mobile_drop_menu{
	display:none;
}






/*域名查询的样式>>*/

@media screen and (max-width:960px) {
	.header{
		min-height:80px;
		height:auto;
		padding-bottom:10px;
	}
	div.menu{
		width:97%;
		margin:0 auto;
	}
	.menu_mobile{
		display:block;
		float:right;
		width:16px;
		height:16px;
		margin-top: 32px;
		background:url("../img/menu-mobile.png") left top no-repeat;
		cursor:pointer;
	}
	
	.menu_mobile_hover{
		background:url("../img/menu-mobile.png") left top -16px no-repeat;
	}
	
	.blockeasing-warpp{
		padding-top:15px;
		clear:both;
		display:none;
	}

	ul.blockeasing{
		border-top:1px solid #999;
		float:none;
	}
	
	ul.blockeasing li{
		float:none;
		border-bottom:1px solid ;
	}
	ul.blockeasing li:last-child{
		border-bottom:none;
	}
	
	ul.blockeasing li.current{
		background:none;
	}
	
	
	ul.blockeasing li a{
		text-shadow:0 0 0;
		text-align:left;
		font-weight:normal;
		padding:10px;
		height:44px;
		line-height:24px;
		font-size:14px;
	}
	
	#statistics{
		width:100%;
		height:290px;
	}
	
	.medium_content_list{
		width:440px;
		padding:20px 0px;
	}
	.medium_content_list  li{
		margin-left:11px;
	}
	
	.medium_content_article li{
		width:35%;
		margin-left:10%;
		margin-top:20px;
	}
	
	.medium_size_center{
		width:100%;
		/*margin:0 auto;*/
		margin:0px;
		position:relative;
	}
	
	#nav .nav_content{
		padding-left:10px;
	}
	
	#statistics_filter{
		/*position:absolute;
		z-index:800;
		top:10px;
		left:0px;
		display:none;*/
	}
	
	#statistics_filter .statistics_filters_title{
		top:10px;
	}
	
	#statistics_filter .statistics_filters{
		margin-top:0px;
		padding-top:10px;
		border-bottom:1px solid #fff;
	}

	.medium_size_center{
		/*display:none;*/
	}

	div.statistics_delimiter{
		margin-top:40px;
	}

	
	#mobile_drop_menu{
		/*width:100%;
		border-top:3px solid #000;
		display:block;
		position:absolute;
		top:0px;
		left:0px;
		z-index:800;
		width:20px;
		height:100%;
		height:200px;
		background:#000;*/
	}
	
	
	#mobile_drop_menu i{
		display:block;
	/*
		width:25px;
		height:15px;
		margin:0px auto;
		background:url("../images/menu-arrow.png") left top no-repeat;*/

		cursor:pointer;
		/*border-bottom:2px solid #000;*/
	}
	
	#mobile_drop_menu i.up_menu{
		background:url("../images/menu-arrow.png") left -35px no-repeat;
	}
	
	.medium_content_article_list li{
		width:98%;
		margin-left:1%;
		/*margin-top:40px;*/
	}
	
	.medium_content_article_list li dl dd.article_list{
		min-height:70px;
	}
	
	.medium_content_article li dl dd  .article_intro{
		width:90%;
		min-height:80px;
		margin:0 auto;
		background:#e8e8e8;
		padding:10px;
		color:#333;
		text-indent:2em;
		font-size:12px;
	}
	.medium_content_article li dl dd  .article_content{
		width:90%;
	}
	
	.contact_us{
	
	}

	#about_us{
		width:auto;
	}
	#contact_us{
		width:95%;
		margin:0 auto;
		display: block;
		margin-top: 5px;
		padding-right: 0px;
		padding-top: 10px;
		border-right:none;
	}
	#contact_msg{
		width:95%;
		margin:0 auto;
		display: block;
		margin-top:80px;
		margin-left:0px;
	}
	

	.filter_year,.filter_month,.filter_day{
		color:#fff;
	}
	#filter_sparator{
		display:none;
		color:#fff
	}
	
	#page{
		width:98%;
		margin:0 auto;
		margin-top:20px;
		text-align:center;
	}
	
	/*<<Product的样式*/
	ul#product{
		width:630px;
		margin:0 auto;
	}
	
	ul#product li{
		margin-left:10px;
	}
	
	/*Product的样式>>*/
	
	/*<<批量查询的样式*/
	div.search_box_multi{
		width:630px;
	}
	
	/*批量查询的样式>>*/
}

@media screen and (max-width:630px) {
	/*<<Product的样式*/
	
	ul#product{width:320px;}
	
	/*Product的样式>>*/
	
	
	/*<<文章详细内容中的统计图及其表样式*/

	#article_statistics{
		position:absolute;
		width:110%;
		left:-3%;
		top:350px;
	}
	
	#article_table{
		position:absolute;
		width:100%;
		left:0px;
		top:750px;
	}
	.fiil_box{
		height:870px;
	}
	/*
	.medium_content_article li dl dd .article_intro{
		font-size:14px;
		line-height:40px;
	}*/
	/*文章详细内容中的统计图及其表样式>>*/
	
	
	/*<<批量查询的样式*/
	div.search_box_multi{
		width:430px;
	}
	.search_box_multi span.title_www{
		font-size:14px;
	}
	.search_box .search_input_short{
		height:28px;
		line-height:28px;
		font-size:12px;
		width:40px;
	}
	.serach_multi_checked{
		width:240px;
		height:40px;
	}
	
	.serach_multi_checked li{
		font-size:12px;
		width:60px;
		height:28px;
		line-height:28px;
	}
	
	.serach_multi_checked li.more_8{
		height:19px;
		line-height:19px;
		width:55px;
		margin-left:4px;
	}
	
	
	/*批量查询的样式>>*/
}

@media screen and (max-width:440px) {
	/*<<文章详细内容中的统计图及其表样式*/
	#article_statistics{
		position:absolute;
		width:120%;
		left:-10%;
		top:350px;
	}
	.fiil_box{
		height:840px;
	}
	/*文章详细内容中的统计图及其表样式>>*/
	#statistics{
		height:350px;
	}
	
	#statistics_detail{
		height:350px;
	}

	.medium_content_article li{
		float:none;
		width:90%;
		display:block;
		margin:0 auto;
		margin-top:40px;
	}
	
	#statistics .shade a{
		margin-left:-50px;
		margin-top:-50px;
		width:100px;
		height:100px;
		border-radius:50px;
		line-height:100px;
	}
	
	.medium_content_list{
		width:100%;
		padding:20px 0px;
	}
	
	.medium_content_list li{
		display:block;
		margin:0 auto;
		border-radius:75px;
		line-height:75px;
		font-size:18px;
		margin-top:20px;
		width:150px;
		height:150px;
		line-height:150px;
	}
	.medium_content_list li > a{
		font-size:16px;
		text-decoration:underline;
		color:#333;
	}
	.medium_content_list li .shade div{
		background:#1F85AA;
	}

	.medium_content_list li .shade a{
		margin-left:-75px;
		margin-top:-75px;
		color:#fff;
		background:#000;
		width:150px;
		height:150px;
		border:1px solid #000;
		border-radius:75px;
		font-size:16px;
		line-height:150px;
	}


	#statistics_filter .statistics_filters_title{
		width:20px;
	}
	
	
	#statistics_filter .statistics_filters_content{
		padding-left:5px;
		min-height:60px;
	}

	#statistics_filter .delimiter{
			display:none;
	}
	
	
	.medium_content_article_list li dl dd.article_list{
		min-height:120px;

	}
	
	/*提示框*/
	#msgbox{
		width:300px;
		height:220px;
		margin-left:-150px;
	}
	#msgbox h2 span{
		left:260px;
	}
	#boxcontent{
		width:auto;
	 	height: 110px;
	}
	
	.media_big{
	display:none;
	}
	
	
	
	/*<<批量查询的样式*/
	.search_box {
		width:310px;
		margin:0 auto;
	}
	.search_box span.title_www{
		height:24px;
		line-height:24px;
		font-size:14px;
	}
	.search_box .search_input{
		width:160px;
		height:29px;
		line-height:29px;
		font-size:12px;
	}
	.search_box .search_btn{
		height:29px;
		line-height:26px;
		font-size:14px;
		width:60px;
	}
	
	div.search_box_multi{
		width:310px;
	}
	.search_box_multi span.title_www{
		padding:5px 5px;
		font-size:12px;
	}
	
	.search_box .search_input_short{
		width:35px;
	}
	
	.serach_multi_checked{
		width:180px;
	}
	
	.serach_multi_checked li{
		font-size:10px;
		width:45px;
	}
	.serach_multi_checked li.more_8{
		width:40px;
		font-size:10px;
	}
	.search_box .search_btn{
		font-size:12px;
	}
	/*批量查询的样式>>*/
	
	
	
}
